@model BigBookLibrary.Areas.Admin.ViewModels.Genres.GenreFormModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewData["Title"] = "Edit Genre";
}

<h2 class="mt-4">Edit Genre</h2>

<form asp-action="Edit" method="post" class="mt-3">
    @Html.AntiForgeryToken()

    <partial name="_GenreFormPartial" model="Model" />

    <button type="submit" class="btn btn-warning">Save Changes</button>
    <a asp-area="Admin" asp-controller="Genres" asp-action="Index" class="btn btn-secondary ms-2">
        Back to List
    </a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
