@model BookFormViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Model.Heading</h2>

<form method="post">

    <partial name="_BookFormFields" model="Model" />

    <button class="btn btn-success">Save</button>
    <a href="/Admin/Books" class="btn btn-secondary">Cancel</a>

</form>
