@using BigBookLibrary.ViewModels.Books
@model IEnumerable<BookCardViewModel>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewData["Title"] = "Books";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Manage Books</h2>
    <a class="btn btn-success" href="/Admin/Books/Create">+ Add Book</a>
</div>

<form method="get" asp-controller="Books" asp-action="Index" class="mb-4">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Search by title..." />
        <button class="btn btn-primary">Search</button>
    </div>
</form>


<div class="row">
    @foreach (var book in Model)
    {
        <partial name="_BookCard" model="book" />
    }
</div>

