@using BigBookLibrary.ViewModels.Books
@model IEnumerable<BookCardViewModel>

<h2 class="mb-4 text-center">
    Books in this Genre (@Model.Count())
</h2>

@if (!Model.Any())
{
    <div class="alert alert-info text-center">
        No books found in this genre.
    </div>
}
else
{
    <div class="row">
        @foreach (var book in Model)
        {
            <partial name="_BookCard" model="book" />
        }
    </div>
}
